@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
}

.logo {
  height: 70px;
  margin: 0 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 2rem;
}

nav li {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: larger;
}

.search-button {
  margin-right: 1rem;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  font-size: larger;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.search-button:active {
  transform: scale(0.95);
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 2rem;
}

.nav-link:hover {
  color: #FF512F;
}

.news-image {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

.search-container {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-input {
  width: 90%;
  height: 2rem;
  margin: 10px 20px;
}

.search-container ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.search-container li {
  margin: 10px 0;
}

.search-container a {
  color: #333;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3rem;
  background-color: white;
  border-radius: 20px;
}

.news-container-first {
  margin: 1rem;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid;
}

.news-container-important {
  margin: 1rem;
  width: 30%;
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid;
}

.news-container {
  margin: 1rem;
  width: 30%;
  margin-bottom: 20px;
  background-color: white;
  font-size: smaller;
}

.news-link {
  color: #222;
  text-decoration: none;
}

.news-link:hover {
  color: #FF512F;
}

.news-container-image {
  text-align: center;
}

.news-image {
  max-width: 90%;
  height: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  color: white;
}

.column {
  flex:1;
  margin: 2rem;
}

.column:nth-child(3) {
  flex: 2;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ftr-link {
  color: white;
  text-decoration: none;
}

.ftr-link:hover {
  color: #FF512F;
}

.footer-input {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.id-container {
  margin: 0 3rem;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
}

.feed-container {
  margin: 0 3rem;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}

.feed-container ul {
  list-style: none;
  padding: 0;
  font-size: x-large;
  margin: 20px 0 0 0;
}

.feed-container li {
  margin-bottom: 10px;
}

.about-container {
  height: 300px;
  margin: 0 3rem;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  width: 300px;
  height: auto;
  flex: 1;
}

.about-container-text {
  margin: 0 2rem;
  text-align: justify;
  flex: 2;
}